:root {
    --text: #251e51;
    --green-light: #a4af44;
    --green-dark: #225248;
    --purple: #590f5e;
    --white: #e3edd4;   
}/* renamed colors to fit better*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: var(--white);
    color: var(--text);
}

/* text decoration --- flex the parents not the children Ok I need to assign id or classes to each and every <p> and most <div> this is stopping me from being able to style the writing into the form and place i want it */
header, nav, #navbar {
    padding: 0px 50px 35px 50px;
    color: var(--green-dark);
}

.container, .container-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* I am not sure what is flexing and what is not at this point. I will most likely create a new style sheet once I refactor my html to except the styling the way I need it */
    padding: 50px;
    margin: 0;
    width: 85%;
  }
  

  .cards {
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3%;
    }
}
  
    .card-item { /* I am not sure this is doing anything*/
      display: flex;
      flex-direction: row;
      background-color: var(--white);
      width: 100%;
      border-radius: 6px;
      box-shadow: 0 20px 40px -14px var(--green-dark);
      overflow: hidden;
      transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
    }
      .container:hover { /* some more playing with this and I think I can get it to behave*/
        cursor: pointer;
        transform: skew(2px);
        -webkit-transform: scale(1.1);
      }
      .card-image {
          opacity: 1;
        }
 
    .card-info {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 10px;
      line-height: 1.5em;
    }
  
    .card-title {
      font-size: 25px;
      line-height: 1.1em;
      color: var(--text);
      margin-bottom: 0.2em;
    }
/* I thought this would allow my photos to fill the space. It is doing nothing so I set it to the side. I am still trying to figure out how I have the images behaving. I think it would be better to just add the images in css as well. 
    .card-image{
      height: 100%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 6px 6px 0px 0px;
      opacity: 0.91;
    }*/

input[type=text], input[type=email], /*this is my contact hover. it works, but I am not sure I needed all this to do it and can be cleaned up */
select, textarea {
    width: 175px;
    padding: 12px;
    border: 2px solid var(--purple);
    border-radius: 35px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: var(--green-dark);
    color: var(--green-light);
}
